**/Makefile
c++/demo
config.log
config.status
edit_man.sh
headers.sh
include/curses.head
include/MKterm.h.awk
lib/*.a
man/ncurses6-config.1
man/terminfo.5
misc/ncurses-config
misc/run_tic.sed
misc/run_tic.sh
misc/terminfo.tmp
ncurses/keys.list
ncurses/make_hash
ncurses/make_keys
ncurses/report_offsets
obj_g
objects
progs
test
